<% @page_title = "About Us" %>
<% @page_header = "About Us" %>

<pre class="school"> 
	    Yak Yik is a web application developed by University of New Mexico Students,
	    enabling the community to connect with charities. This is done by means of challenges.
	    Upon completing a specified challenge.....
	 
	 	 
</pre>