
<div class="row">

 	 <div class="container-1 text-center">
		 <h1 class="welcome"> Welcome To Yak Yik!
			 <h2 class="second"> Connecting People to Charities, through Challenges. </h2>

	<%= image_tag "unm_logo.jpg", class: 'logo' %>

		 </h1>
	 </div>
	 <div class="container-2 bg-green">
	 	<h2 class="third"> Who we are...
		</h2>

  </div>

	<div class="container-2 bg-white">
		<h2 class="third"> Don't Miss the Race of the Century!</h2>
	  	<pre class="description">
	  		Eric Watson takes on the undefeated champion,
			Edwin "The Atom" Agbenyega, in a race more
			Challenging than spelling his last name!

	  		Do you want to see it happen? of course you do...

	  		Donate below!

	  		*contributions to this challenge go to the UNM scholarship program!
	  		A great cause, and great entertainment.
	    </pre>
	</div>
</div>
