@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Raleway|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon);
/** base variables **/

$bgcolor: #ffffff;
$form_color: black;



@mixin header($size) {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: $size;
  /** color: #445; **/
  color: black;
}

@mixin form($form_color){
  font-family: 'Raleway', sans-serif;
  width: 70%;
  background-color: lighten($bgcolor, 10%);
  padding: 30px 50px 100px 30px;
  margin: 10px;
  border: 1px solid;
  color: black;
}
