.container-1{

	padding:10% 15% 10%;
	min-height: 400px;


}
.container-2{

	padding: 3% 5% 15%;
	min-height: 400px;
}

.container-3{

	padding-top: 5px;
	padding-bottom:5px;

}

.bg-white{

	background-color: #ffffff;
	color:#555555;
}
.bg-green{
	background-color: #87E6BA;

}
.bg-3{

	background-color: #87E6BA;

}

h1.welcome{

	font-size: 380%;
	font-family: 'Raleway', sans-serif;
}
h2.second{


	font-size: 200%;
	font-family: 'Raleway', sans-serif;
}
h2.third{


	font-size: 250%;
	font-family: 'Raleway', sans-serif;
}

pre.school{
font-family:'Raleway', sans-serif;
font-size: 120%;
border: none;
}

pre.historic{
font-family: 'Raleway', sans-serif;
font-size: 120%;
background-color: lighten(#87E6BA, 10%);
//border-radius: 60%;
//padding: 0% 0%% 0%;
border: none;
margin: 5%;
}
pre.description{
font-family: 'Raleway', sans-serif;
font-size: 120%;
background-color: lighten(#ffffff, 10%);
//border-radius: 60%;
//padding: 0% 0%% 0%;
border: none;
margin: 5%;
}

img.logo{

//	left:500px;
	width: 400px;

}
